.wrap{
    width: 100%;
    display: flex;
}

.btn{
    background-color: #209515;
    width: 100px;
    height: 100px;
}
.note{
    opacity: 1;
}

.controlbtn{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 869px){
    .wrap{
        display: block;
    }  

    #myc{
        width: 95%;
        height: auto;
    }
    .note{
        z-index: 0;
        margin-bottom: -5rem;
        opacity: 0;
    }
}