body{
    background: linear-gradient(to right, #03142b 21%, #0d2e5c 99%);
    background-attachment: fixed;
    height: 90rem;
}

.jumbo{
    background: linear-gradient(to right, #03142b 21%, #0d2e5c 99%);
    background-attachment: fixed;
    padding-top: 8vh;
    margin-bottom: 5vh;
    color: white;
}

section{
    margin-top: 0;
}
.card2{
    background-color: #3F206D;
    height: max-content;
    width: auto;
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 0px 0px 50px 0px;
}
.rounded-square{
        border-radius: 50px 0px 0px 0px;
}
.about{
    font-size: 20px;
    padding: 5vh;
    margin-top: 5vh;
    width: 100%;
    height: max-content;
    color: white;
    background-color: #3F206D;
}