body{
    margin: 0%;
    padding: 0%;
    background-color: #131e28;
    overflow-x: hidden;
    min-height: 100rem;
    margin-top: 6rem;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

section{
    margin-bottom: 5rem;
}

.card{
    background-color: #0F161C;
}

nav{
    background-color: #0F161C;
    width: 100vw;
    display: flex;
    padding: 10px 3rem ;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

nav ul{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
}

nav ul li:hover{
    text-decoration: underline;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

nav .logo{
    color: aquamarine;
}

#bodys{
    display: flex;
    width: 100%;
    min-height: 30rem;
    margin-top: 2rem;
}
.body-1{
    width: 50%;
    padding: 1rem ;
    padding-left: 2rem;
}

.body-1 .brand{
    color: aliceblue;
    font-weight: 500;
    font-size: 100px;
}

.badge{
    width: 50%;
    margin-bottom:1rem ;
    display: flex;  
}

.badge-item{
    color: #0F161C;
    padding: 5px;
    background-color: cyan;
    border-radius: 5px;
    margin-right: 5%;
    transition: all 0.4s;
}

.badge-item:hover{
    cursor: pointer;
}

.body-1 .quotes{
    color: #c8d4e0;
    margin-bottom:5rem ;
}

.info-txt{
    color: aliceblue;
}

.body-1 .destination{
    display: flex;
}

.desti-item{
    padding: 15px;
    border-radius: 5px;
    background-color:cyan;
    margin-right: 5%;
    z-index: 10;
    color: #0F161C;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.desti-item:hover, .badge-item:hover{
    color: cyan;
    background-color: #0F161C;
}

.body-2{
    padding-left: 16%;
    width: 40%;
}

.bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.91));
    z-index: 1;
    pointer-events: none; /* to make sure the overlay doesn't interfere with click events on the image */
}


#about{
    margin-top: 2rem;
    min-height: 20rem;
    padding: 2rem;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.4);
}

.top-about{
    color: aliceblue;

}

.bottom-about{
    display: flex;

}

.bottom-about .right{
    width: 90%;
    text-align: justify;
    color: #c8d4e0;

}

.bottom-about .left {
    width: 40%;
}

.bottom-about .left img{
    margin-top: 1rem;
    width: 80%;
    background-color: #0F161C;
    border-radius: 12rem;
    aspect-ratio: 1;
    border: dotted 3px rgb(15, 221, 159);
    filter: blur(4px);
}

.extends{
    margin-top: 1rem;
    display: flex;
}

.extends-items{
    background-color: #0F161C;
    color: #abb4be;
    padding: 10px;
    border-radius: 10px;
    margin-right: 1rem;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.4);
}

.w-100{
    width: 100%;
}

.desc-value::before{
    content: '';
    animation: descript infinite 15s ease-in-out;
}

.inter-value::before{
    content: '';
    animation: list-interest infinite 15s ease-in-out;
}

#released{
    margin-top: 2rem;
    min-height: 20rem;
    padding: 2rem;
    color: #c8d4e0;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.4);
}

#released .wrapper{
    display: flex;
}

#released .left{
    width: 60%;
}
#released .right{
    width: 40%;
    padding: 1rem;
}

#released .right .desc{
    text-align: justify;
}

#released img{
    width: 100%;
    aspect-ratio: 16/9;
}

#project{
    margin-top: 2rem;
    min-height: 20rem;
    padding: 2rem;
    color: #c8d4e0;
        
}

#project .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card-project{
    color: #c8d4e0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: 2px solid cyan;
    justify-content: start;
    width: 40rem;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.4);
}

#project .left img {
   width: 100%;
   border-radius: 20px;
}

#project .stack{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#project .left .stack img {
   width: 20%;
   border-radius: 20rem;
   margin-right: 0.4rem;
}

#project .left{
    width: 40%;
    margin-right: 10px;
}

#project .right {
   width: 100%;
}

#project .right .desc{
    text-align: justify;
}

footer{
    margin-top: 10rem;
    min-height:10rem ;
    padding-bottom: 5rem;
}

footer .wrapper{
    display: flex;
    justify-content: center;
}

footer .sec{
    padding: 0 0.5rem ;
    width: 33%;
    color: #c8d4e0;
    border-left: #0F161C 1px solid;
}

@keyframes list-interest {
    0%{
        content: 'Learning Game Development';
    }30%{
        content: 'Design A Sprite For Games';
    }60%{
        content: 'Developing A 2D Game';
    }80%{
        content: 'Learning Website Development';
    }100%{
        content: 'Learning Game Development';
    }
}

@keyframes descript{
    0%{
        content: 'Learning how to create a game';
    }30%{
        content: 'design my own 2D game using Aseprite';
    }60%{
        content: 'create my own game using js or unity 2D';
    }80%{
        content: 'Learning website for my main carier';
    }100%{
        content: 'Learning how to create a game';
    }
}

.alert-phone{
    display: none;
}

@media only screen and (max-width: 600px){
    .alert-phone{
        display: block;
        position: fixed;
        top: 10%;
        left: 20%;
        z-index: 99;
        font-size: 30px;
        opacity: 0.7;
        background-color: red;
        padding: 1rem;
    }
    body{
        zoom: 40%;
    }

    nav{
        width: 90%;
    }

    nav ul{
        width: 50%;
    }

    .bg-img{
        top: 0px;
        height: 40%;
    }
}